
*{
  margin: 0%;
  padding: 0%;
  
}
body{
  overflow-y: hidden;
}

.postContainer{
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 10px 30px;
  margin-top: 80.5px;
}
.postBodyItem{
  background-color: #303744;
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
}

.postBodyItemHeader{
  display: flex;
  
 
}
.postBodyItemHeaderBody{
  
  min-width: 300px;
}
.postBodyItemTitle{
  
  margin: 10px 0px;
  word-wrap: break-word;
  width: 100%;
}
.imagemPost{
  max-width: 70%;
  max-height: 400px;
  margin: auto;
}
.postBodyItemFooter{
  display: flex;
  justify-content: flex-end;
}
@media (max-width:756px) {
  .postBody{
    max-width: 100vw;
    margin: 0;
  }
  .imagemPost{
    max-width:80vw;
    margin: auto;
    height: 70%;
  }
  .postBodyItemTitle{
    margin: 10px 0px;
    word-wrap: break-word;
    width: 85vw;
  }
  .postSidebar{
    display: none;
    overflow-y: scroll;
    height: 400px;
  }
  .postContainer{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
    margin-top: 80.5px;
  }
  .postBodyItem{
    background-color: #303744;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    max-width:100%;
  }
  .postBodyItemHeader{
    display: flex;
  }
  .postContainer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
   
  }
  .postBodyItemHeaderBody{
    word-wrap: break-word;
  }
}

.App-header {
  background-color: #282c34;
  width: 100%;
  color: white;
  height: 100vh;
  overflow-y: hidden;  
}
.App-header::-webkit-scrollbar {
  display: none;
  }
